*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}
ul {
    list-style-type: none; /* ynahi nikat mtaa liste*/
    overflow: hidden; /*ynahi l bande*/ 
    margin: 1cm;
}
li {
    float: right;
    /* position*/
  }

li a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: block; /* twali l bande ghlitha*/
  padding: 15px 30px; /* bo3d mabinet'hom w koberhom*/
  text-decoration: none; /* ynahi l alignement*/
  color: #fff;
  text-align: center;
 /* background-color: #dddddd;*/
/* border: 1px solid transparent; /*kober transparent narach
 margin: 1px; kober */
}

/* Change the link color to #111 (black) on hover */
li a:hover {

    background-color: rgba(170, 159, 159, 0.484);
  }
li a:hover:not(.active) {
  background-color: rgba(170, 159, 159, 0.302);
  /*background: #fff;
    color: black;*/
}
.active {
  background-color: rgb(48, 46, 46, 0.696);
}
.titre {
    color: #fff;
    font-size: 9px;
}
body{
    background:linear-gradient(rgba(56, 53, 53, 0.192),rgba(49, 47, 47, 0.439)),url(1920x960_EWB_Hero.jpg) no-repeat  ;
    height: 100vh ;
    background-size: cover; 
    background-color: rgb(217, 209, 209);
    background-position: 100%;

}

.logo a{
    color:rgba(170, 159, 159, 0.686);
    padding: 10px 20px ;
    position: absolute;
    top:27px ; 
    left:36px;
    text-transform: uppercase;
    text-decoration: none ;
    font-weight: 900;
    }


.logo spam{
    color: #07284d;
    font-weight: bold;
    font-size: 15mm;

}

.titre{
    position: relative;
    padding: 13px 25px ;
    top: 20%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-family: Georgia, serif;
    font-size: 25px;
    word-spacing: 1px;
    color: #292929;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}







.pp {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50% , -50%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #fff;
    font-size: 16px;
}
.bouton{
    font-family:Verdana, Geneva, sans-serif;
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50% , -50%);
}
.bouton a{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 5mm;

}
.btn{
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #fff;
    color: black;
}

